<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <form (ngSubmit)="onSubmit(editorFrm)" [formGroup]="editorFrm" (keydown)="handleKeyDown($event)">
    <div class="box" id="box-content">
      <div class="box-header with-border">
        <h3 class="box-title" id="titleName">Hao hụt bê tông</h3>
        <div class="box-tools pull-right">
          <!-- <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove" style="display:none;">
                        <i class="fa fa-times"></i>
                    </button> -->
                    <button class="btn btn-warning" title="In, kết xuất" type="button" [disabled]="parentData?.Id == -1" (click)="showDocumentInNewTab(parentData?.Id)">
                      Tổng hợp hao hụt bê tông
                    </button>
          <button class="btn btn-primary" type="button" (click)="onSubmit(editorFrm,true)"
            [disabled]="!editorFrm.valid || parentData?.Id < 0 || parentData?.ApproveSend==true">Gửi duyệt</button>
          <button class="btn btn-success" type="submit"
            [disabled]="!editorFrm.valid || parentData?.ApproveSend==true">Lưu</button>
          <a class="btn btn-default" [routerLink]="['/main','concreteloss','index']">Thoát</a>
          <!-- (click)="backClick()" -->
        </div>
      </div>
      <div class="box-body">
        <div *ngIf="editorFrm.errors" class="alert alert-danger">
          <strong>{{editorFrm.errors['error']}}</strong>
        </div>
        <div *ngFor="let panel of _layoutDeclare.panels" class="form-row" [ngStyle]="setDisplayPanel()">
          <df-panel [panel]="panel" #dfpanel [form]="editorFrm" (valueChanged)="onValueChanged($event)">
          </df-panel>
          <div style="clear:both"></div>
        </div>

        <div style="clear:both"></div>

      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button class="btn btn-info fa fa-refresh" type="button" [disabled]="!editorFrm.valid"
          style="margin-bottom:10px;" (click)=confirmDialog()>
          <span style="font-size:11pt;font-family:Arial, Helvetica, sans-serif"> Tải dữ liệu</span>
        </button>
        <button title="Ẩn/ Hiện đầu phiếu" class="btn btn-info fa fa-arrows-v" type="button"
          [disabled]="editorFrm.disabled" style="margin-bottom:10px;" (click)=onclickCollapsablePanel([grid])>
          <span style="font-size:12pt;"></span>
        </button>

        <!-- <div class="bravo-dropdown">
          <button type="button" (click)="openbravoDropdown()" class="bravo-dropbtn btn btn-success fa fa-database"
            style="margin-bottom:10px;">
            <span style="font-size:11pt;font-family:Arial, Helvetica, sans-serif">Lấy dữ liệu</span>
            <span class="caret"></span>
          </button>
          <div id="bravoDropdown" class="bravo-dropdown-content">
            <a class="dropdown-item" style="cursor: pointer;" *ngFor="let linkCommand of listlinkCommandPopup"
              (click)="openLinkCommand(linkCommand)">
              {{linkCommand.Text}}
            </a>
          </div>
        </div> -->

        <div class="form-row" style="border:1px solid #ddd;">

          <!-- <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab1" data-toggle="tab" (click)="onTabClick(grid)" style="background-color:#ffe3e3;">
                  <b>Chi tiết đơn hàng</b>
                </a>
              </li>
            </ul>
          </div> -->
          <div id="cssmenu">
            <ul>
              <li class="active">
                <a href="#tab1" data-toggle="tab" (click)="onTabClick(grid)">
                  Chi tiết đơn hàng
                </a>
              </li>
              <li>
                <a href="#tab2" data-toggle="tab" (click)="onTabClick(grid1)">
                  Bước duyệt
                </a>
              </li>
              <li>
                <a href="#tab3" data-toggle="tab" (click)="onTabClick(grid2)">
                  Tài liệu đính kèm
                </a>
              </li>
              <li>
                <a href="#tab4" data-toggle="tab" (click)="onTabClick(grid3)">
                  WorkFlow
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <section id="new">
                <wj-flex-grid class="grid" #grid [ngStyle]="setHeightGrid()">
                  <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                  <template wjFlexGridCellTemplate [cellType]="'RowHeader'" let-cell="cell">
                    {{cell.row.index + 1}}
                  </template>
                  <template wjFlexGridCellTemplate [cellType]="'TopLeft'" let-cell="cell">
                    <button type="button" class="btn" style="margin:auto;width:100%;background-color:aliceblue;"
                      (click)=deleteSelectedRows(grid)>
                      <a class="fa fa-trash-o" style="color:red;"></a>
                    </button>
                  </template>
                </wj-flex-grid>
              </section>
            </div>
            <div class="tab-pane" id="tab2">
              <section id="new">
                <wj-flex-grid class="grid" #grid1 [ngStyle]="setHeightGrid()">
                  <template wjFlexGridCellTemplate [cellType]="'RowHeader'" let-cell="cell">
                    {{cell.row.index + 1}}
                  </template>
                </wj-flex-grid>
              </section>
            </div>
            <div class="tab-pane" id="tab3">
              <section id="new">
                <wj-flex-grid class="grid" #grid2 [ngStyle]="setHeightGrid()">
                  <template wjFlexGridCellTemplate [cellType]="'RowHeader'" let-cell="cell">
                    {{cell.row.index + 1}}
                  </template>
                  <template wjFlexGridCellTemplate [cellType]="'TopLeft'" let-cell="cell">
                    <button type="button" class="btn" style="margin:auto;width:100%;background-color:aliceblue;"
                      (click)=deleteSelectedRows(grid2)>
                      <a class="fa fa-trash-o" style="color:red;"></a>
                    </button>
                  </template>
                </wj-flex-grid>
              </section>
            </div>
            <div class="tab-pane" id="tab4">
              <section id="new">
                <wj-flex-grid class="grid" #grid3 [ngStyle]="setHeightGrid()">
                  <template wjFlexGridCellTemplate [cellType]="'RowHeader'" let-cell="cell">
                    {{cell.row.index + 1}}
                  </template>
                </wj-flex-grid>
              </section>
            </div>
            <!-- <div class="tab-pane active" id="glyphicons">
                            <section id="new">
                            </section>
                        </div> -->
          </div>
        </div>
      </div>

      <!-- /.box-footer-->
    </div>
  </form>
  <!-- /.box -->
</section>
<!-- /.content -->
<!--Loading-->
<div *ngIf="showLoading" class="bravo-wait">
  <img src="/assets/img/gears.svg" style="width:50%">
  <div style="font-size: 15px; padding-left: 12px;color: #fff;">Loading ....</div>
</div>

<div *ngIf="showLoading" class="bravo-wrapper" style="height: 100%; width: 100%;"></div>
<!--/.Loading-->

<!-- Thêm dialog -->
<app-dialog [(visible)]="showDialog" #dialogFrm>
  <div class="headerConfirm">
    <b style="color: red;">Tải dữ liệu!</b>
  </div>
  <div class="titleConfirm">
    <br />
    <p>
      <b>Thao tác này sẽ thay thế dữ liệu chi tiết đã tồn tại trước đó (nếu có), xác nhận thao tác</b>
    </p>
  </div>
  <div class="btnConfirm">
    <button (click)="onClick()" class="btn btn-success">Đồng ý</button>
    <button (click)="closeDialog()" class="btn">Hủy bỏ</button>
  </div>
</app-dialog>
<!-- Hết Thêm dialog -->

<wj-popup #frmEmailPopup hideTrigger="None" style="width: 60%;height: 80%;">
  <div class="panel panel-primary" style="margin-top: 0px;margin-bottom: 0px;">
    <div class="panel-heading">
      <h3 class="panel-title">Soạn thư</h3>
    </div>
    <div class="panel-body" style="padding: 15px;">
      <form>
        <div class="form-group">
          <label class="control-label">Gửi đến</label>
          <input type="text" class="form-control" #inputTo placeholder="Email nhận">
        </div>
        <div class="form-group">
          <label class="control-label">CC</label>
          <input type="text" class="form-control" #inputCC placeholder="CC to: ngăn cách bằng dấu ;">
        </div>
        <!-- <div class="form-group">
          <label class="control-label">BCC</label>
          <input type="text" class="form-control" #inputBCC placeholder="BCC to: ngăn cách bằng dấu ;">
        </div> -->
        <div class="form-group">
          <label class="control-label">Tiêu đề</label>
          <input type="text" class="form-control" #inputSubject placeholder="Tiêu đề">
        </div>
        <div class="form-group">
          <label class="control-label">Nội dung</label>
          <textarea [id]="'richtextmail'"></textarea>
        </div>
        <div class="form-group">

          <button type="button" class="btn btn-raised btn-primary" (click)="sendMailCustom()">Gửi</button>
          <button type="button" class="btn btn-raised btn-danger" (click)="closeFormEmail()">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</wj-popup>

<wj-popup #linkCommandPopup hideTrigger="None" style="width: 60%;">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Lấy dữ liệu</h3>
      <!-- <h3 *ngIf="!isLangVN" class="box-title">Choose data</h3> *ngIf="isLangVN" -->
      <div class="box-tools pull-right">
        <button type="button" style="color:blue;font-size:18px;" class="btn btn-box-tool" (click)="sendDataTo()"
          data-toggle="tooltip">
          <i class="fa fa-check-square-o"></i>
        </button>
        <button type="button" style="color:red;font-size:18px;" class="btn btn-box-tool"
          (click)="linkCommandPopup.hide()" data-toggle="tooltip">
          <i class="fa fa-times"></i>
        </button>

      </div>
    </div>
    <div class="box-body">
      <wj-flex-grid class="grid" #linkCommandGrid>
        <ng-template wjFlexGridCellTemplate [cellType]="'RowHeader'" let-row="row" let-cell="cell">
          <input type="checkbox" [checked]="cell.item?.IsTransfer" (change)="checkSelectPopup(row)">
        </ng-template>
      </wj-flex-grid>
    </div>
  </div>
</wj-popup>