<div *ngIf="isUsingFilter" class="col-md-2 filter">
  <section class="content">
    <div class="box" id="box-content">
      <div class="box-header with-border">
        <h3 class="box-title">Điều kiện lọc</h3>
        <div class="box-tools pull-right">
          <!--button type="button" class="btn btn-box-tool">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </button-->

          <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
            <i class="fa fa-list" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let item of filterData">
              <div class="checkbox">
                <label>
                  <input type="checkbox" (click)="updateCheckedOptions($event, item)" [ngModel]="item.isChecked" /> {{item.label}}
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <form (ngSubmit)="onSubmit(form)" [formGroup]="form">
        <div class="box-body" [style.height.px]="contentFilterHeight">

          <div *ngFor="let input of inputs" class="form-row">
            <df-input [input]="input" [form]="form" (toogle)="tooglePin($event)"></df-input>
          </div>

          <!--<div class="form-group">
                        <label>Từ ngày</label>
                        <wj-input-date [(value)]="DocDate1" [format]="'dd/MM/yyyy'"></wj-input-date>
                    </div>
                    <div class="form-group">
                        <label>Đến ngày</label>
                        <wj-input-date [(value)]="DocDate2" [format]="'dd/MM/yyyy'"></wj-input-date>
                    </div>-->
          <div class="box-footer">
            <button class="btn btn-primary">Tìm kiếm</button>
            <button (click)="toogleFilter()" class="btn btn-danger">Hủy</button>
          </div>
        </div>
        <div class="box-footer" style="height:50px;">

        </div> 
      </form>
    </div>
  </section>
</div>
<div [ngClass]="{'col-md-10 content-filter': isUsingFilter}">
  <section class="content">
    <div class="box" id="box-content">
      <div class="box-header with-border">
        <h3 class="box-title" id="titleName">Đề nghị mua hàng</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove" style="display:none;">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <!-- <div class="bs-glyphicons">
                    <ul class="bs-glyphicons-list">
                        <a class="action-button shadow animate blue" (click)="openEditorWithParams(['/main','proposedpurchase2','detail'],row)" *ngFor="let row of dataMenu">{{row.Name}}</a>

                    </ul>
                  </div> -->
        <!-- <li *ngFor="let row of dataMenu"> -->
        <!-- <a class="glyphicon glyphicon-asterisk" aria-hidden="true"></a>
                        <a class="glyphicon-class">{{ row.Code + ': ' + row.Name }}</a> -->
        <!-- <span *ngIf="row.Id%2!=0" class="glyphicon glyphicon-th-large" aria-hidden="true" (click)="openEditorWithParams(['/main','proposedpurchase2','detail'],row)"></span>
                        <span *ngIf="row.Id%2!=0" class="glyphicon-class">{{ row.Id + ': ' + row.Code }}</span> -->
        <!-- </li> -->

        <!-- <div id="product_gallery">
          <div id="SlideItMoo_outer">
            <div id="SlideItMoo_inner">
              <div id="SlideItMoo_items">
                <div class="SlideItMoo_element" *ngFor="let row of dataMenu">
                  <strong>{{row.Name}}</strong>
                  <a (click)="openEditorWithParams(['/main','proposedpurchase','detail'],row)">
                    <img src="{{urlImg + row.ImagePath}}" alt="image not available" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-xs-6 col-sm-4	col-md-1 col-lg-1" *ngFor="let row of dataMenu">
          <div class="card card-cascade mb-4">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="{{urlImg + row.ImagePath}}" alt="image not available">
              <a (click)="openEditorWithParams(['/main','proposedpurchase','detail'],row)">
                <div class="mask flex-center waves-effect waves-light rgba-red-strong"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body text-center">

              <!-- Title -->
              <h5 class="card-title">
                <strong>{{row.Name}}</strong>
              </h5>
              <!-- Facebook -->
              <!-- <a type="button" class="btn-floating btn-small btn-fb waves-effect waves-light"><i class="fa fa-facebook"></i></a> -->
              <!-- Twitter -->
              <!-- <a type="button" class="btn-floating btn-small btn-tw waves-effect waves-light"><i class="fa fa-plus" aria-hidden="true"></i></a> -->
              <!-- Google + -->
              <!-- <a type="button" class="btn-floating btn-small btn-dribbble waves-effect waves-light"><i class="fa fa-dribbble"></i></a> -->

            </div>

          </div>
        </div>
      </div>

      <div class="box-body" #contentFilter>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <div class="toolbox">
                <button type="button" class="btn btn-success" (click)="copyEditor(grid,['/main','proposedpurchase','detail'])" title="Thêm bản sao mới">
                  <i class="fa fa-copy" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-primary" (click)="editExplorer(grid,['/main','proposedpurchase','detail'])" title="Mở/ Chỉnh sửa">
                  <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
                </button>
                <button type="button" class="btn bg-purple" title="Xóa" (click)="confirmDialog(grid, 'DocNo')">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-warning" title="In" (click)="showPrintVoucher(grid)">
                  <i class="fa fa-print" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Lọc dữ liệu" (click)="toogleFilter()">
                  <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn" title="Thu nhóm" (click)="grid.collapseGroupsToLevel(0)">
                  <i class="fa fa-angle-double-up fa-md" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn" title="Mở nhóm" (click)="grid.collapseGroupsToLevel(grid.rows.maxGroupLevel + 1)">
                  <i class="fa fa-angle-double-down fa-md" aria-hidden="true"></i>
                </button>
                <button class="btn btn-default dropdown-toggle" title="Hiển thị" type="button" data-toggle="dropdown" style="width: 38px;">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="margin-left:20%;">
                  <li>
                    <a class="dropdown-item">
                      <button class="btn dropdown-item" (click)="showDivDisplay('showgrid','showcard')" style="background: none;width:100%">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Dạng lưới
                      </button>
                    </a>
                    <a class="dropdown-item">
                      <button class="btn " type="button" (click)="showDivDisplay('showcard','showgrid')" style="background: none;width:100%">
                        <i class="fa fa-th" aria-hidden="true"></i>
                        Dạng thẻ
                      </button>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dữ liệu
                                  <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a [routerLink]="['/main', 'proposedpurchase','detail']">Thêm mới</a>
                                    </li>
                                    <li><a href="#">Đình chỉ</a></li>
                                </ul>
                            </li> -->
              <!--li><a href="#">Page 2</a></li-->
            </ul>
          </div>
        </nav>

        <div id="showcard" style="display: none;">
          <!-- <div class="col-lg-3 col-md-5 mb-3" style="padding-top: 4px;" *ngFor="let doc of dataExlorer">
            <div class="card card-cascade wider">
              <div class="view gradient-card-header peach-gradient" style="text-align: center;color:white;">
                <h4 class="card-header-title mb-2">{{doc.DocNo}}</h4>
                <p class="mb-0">
                  <i class="fa fa-calendar mr-1"></i>&nbsp;&nbsp;{{doc.DocDate | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="card-body text-center">
                <p class="card-text">{{doc.Description}}</p>
                <a class="orange-text d-flex flex-row-reverse p-2">
                  <a type="button" class="btn-floating waves-effect waves-light" (click)="editExplorerCard(['/main','proposedpurchase','detail'],doc.Id)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 15pt;margin-top: 10px;"></i>
                  </a>
                </a>
              </div>
            </div>
          </div> -->
          <ul data-role="listview" id="listview-2" data-view="icons-medium" data-select-node="true" class="listview view-icons-medium">
            <li data-caption="Folders" class="node-group">
              <div class="data">
                <div class="caption">Chờ duyệt</div>
              </div>
              <ul class="listview view-icons-medium">
                <li>
                  <div class="col-lg-3 col-md-5 mb-3" style="padding-top: 4px;" *ngFor="let doc of dataExlorer">
                    <div class="card card-cascade wider">
                      <div class="view gradient-card-header peach-gradient" style="text-align: center;color:white;">
                        <h4 class="card-header-title mb-2">{{doc.DocNo}}</h4>
                        <p class="mb-0">
                          <i class="fa fa-calendar mr-1"></i>&nbsp;&nbsp;{{doc.DocDate | date: 'dd/MM/yyyy'}}</p>
                      </div>
                      <div class="card-body text-center">
                        <p class="card-text">{{doc.Description}}</p>
                        <a class="orange-text d-flex flex-row-reverse p-2">
                          <a type="button" class="btn-floating waves-effect waves-light" (click)="editExplorerCard(['/main','proposedpurchase','detail'],doc.Id)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 15pt;margin-top: 10px;"></i>
                          </a>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <span class="node-toggle"></span>
            </li>
            <!-- <li data-caption="Folders" class="node-group"><div class="data"><div class="caption">Đã hoàn thiện</div></div>
            <ul class="listview view-icons-medium">
              <li>
                  <div class="col-lg-3 col-md-5 mb-3" style="padding-top: 4px;" *ngFor="let doc of dataExlorer">
                      <div class="card card-cascade wider">
                        <div class="view gradient-card-header peach-gradient" style="text-align: center;color:white;">
                          <h4 class="card-header-title mb-2">{{doc.DocNo}}</h4>
                          <p class="mb-0">
                            <i class="fa fa-calendar mr-1"></i>&nbsp;&nbsp;{{doc.DocDate | date: 'dd/MM/yyyy'}}</p>
                        </div>
                        <div class="card-body text-center">
                          <p class="card-text">{{doc.Description}}</p>
                          <a class="orange-text d-flex flex-row-reverse p-2">
                            <a type="button" class="btn-floating waves-effect waves-light" (click)="editExplorerCard(['/main','proposedpurchase','detail'],doc.Id)">
                              <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 15pt;margin-top: 10px;"></i>
                            </a>
                          </a>
                        </div>
                      </div>
                    </div>
              </li>
            </ul>
        <span class="node-toggle"></span>
      </li> -->
          </ul>
        </div>
        <div id="showgrid" style="display: block;">
          <wj-menu #ctxMenu [header]="'Run'" [value]="browser" [isButton]="true" (itemClicked)="splitButtonItemClicked(ctxMenu, $event)"
            style="display:none;">
            <wj-menu-item [value]="'CalPrice'">Tính giá</wj-menu-item>
          </wj-menu>
          <wj-flex-grid [itemsSource]="data" #grid (itemsSourceChanged)="itemsSourceChangedHandler()" style="height:100%;min-height: 650px;"
            (click)="clickGridParent(grid)">
            <!-- <template wjFlexGridCellTemplate [cellType]="'RowHeader'" let-cell="cell">
                           
                            <i *ngIf="cell.item.NotApproveSend == true" class="fa fa-exclamation-circle faa-flash animated" style="font-size:20px;color:red"
                                title="Yêu cầu trình duyệt!"></i>
                        
                        </template> -->
            <wj-flex-grid-filter #filter></wj-flex-grid-filter>
            <!-- xử lý progress bar -->
            <!-- <wj-flex-grid-column [isReadOnly]="true" >
                            <ng-template wjFlexGridCellTemplate let-cell="cell" [cellType]="'Cell'">
                                <div class="myProgress"> 
                                    <div class="myBar" [ngStyle]="{'width': getPercent(0.5,1)}"></div>
                                    <div class="tilleBar">{{getPercent(0.5,1)}}</div>
                                  </div>   
                            </ng-template> 
                        </wj-flex-grid-column> -->

          </wj-flex-grid>

          <!-- lưới hỗ trợ in detail -->
          <wj-flex-grid [itemsSource]="dataPrint" #gridPrint style="height:650px;display:none;font-size:9pt;">
          </wj-flex-grid>
        </div>

      </div>
      <div class="box-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-default" (click)="movePage(1)">
            <span class="glyphicon glyphicon-fast-backward"></span>
          </button>
          <button type="button" class="btn btn-default" (click)="movePage(pageNumber-1)">
            <span class="glyphicon glyphicon-step-backward"></span>
          </button>
          <button type="button" class="btn btn-default ng-binding">
            {{pageNumber}}/{{totalPage||1}}
          </button>
          <button type="button" class="btn btn-default" (click)="movePage(pageNumber+1)">
            <span class="glyphicon glyphicon-step-forward"></span>
          </button>
          <button type="button" class="btn btn-default" (click)="movePage(totalPage)">
            <span class="glyphicon glyphicon-fast-forward"></span>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>

<div style="clear:both;"></div>

<app-dialog [(visible)]="showDialog" #dialogFrm>
  <div class="headerConfirm">
    <b>Bạn có muốn xóa dữ liệu đã chọn!</b>
  </div>
  <div class="titleConfirm">
    <p>Số chứng từ:
      <b>{{titleConfirmDialog}}</b>
    </p>
  </div>
  <div class="btnConfirm">
    <button (click)="deleteExplorer(grid,true)" class="btn btn-success">Đồng ý</button>
    <button (click)="deleteExplorer(grid,false)" class="btn">Hủy bỏ</button>
  </div>
</app-dialog>

<!--Loading-->
<div *ngIf="showLoading" class="bravo-wait">
  <img src="/assets/img/gears.svg" style="width:50%">
  <div style="font-size: 15px; padding-left: 12px;color: #fff;">Loading ....</div>
</div>

<div *ngIf="showLoading" class="bravo-wrapper" style="height: 100%; width: 100%;"></div>
<!--/.Loading-->