<div class="wrapper">
    <!-- Main Header -->
    <app-home-header></app-home-header>
    <!-- Left side column. contains the logo and sidebar -->
    <app-home-sidebar></app-home-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <router-outlet></router-outlet> 
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <app-home-footer></app-home-footer>
    <!-- Control Sidebar -->
    <!-- <app-home-control-sidebar></app-home-control-sidebar> -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
