<div *ngIf="isUsingFilter" class="col-md-2 filter">
    <section class="content">
        <div class="box" id="box-content">
            <div class="box-header with-border">
                <h3 class="box-title">Điều kiện lọc</h3>
                <div class="box-tools pull-right">
                    <!--button type="button" class="btn btn-box-tool">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </button-->

                    <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </a>
                     <ul class="dropdown-menu">
                        <li *ngFor="let item of filterData">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                        (click)="updateCheckedOptions($event, item)"
                                        [ngModel]="item.isChecked"/>
                                    {{item.label}}
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <form (ngSubmit)="onSubmit(form)" [formGroup]="form">
                <div class="box-body" [style.height.px]="contentFilterHeight">

                    <div *ngFor="let input of inputs" class="form-row">
                        <df-input [input]="input" [form]="form" (toogle)="tooglePin($event)"></df-input>
                    </div>

                    <!--<div class="form-group">
                        <label>Từ ngày</label>
                        <wj-input-date [(value)]="DocDate1" [format]="'dd/MM/yyyy'"></wj-input-date>
                    </div>
                    <div class="form-group">
                        <label>Đến ngày</label>
                        <wj-input-date [(value)]="DocDate2" [format]="'dd/MM/yyyy'"></wj-input-date>
                    </div>-->
                    <div class="box-footer">
                        <button class="btn btn-primary">Tìm kiếm</button>
                        <button (click)="toogleFilter()" class="btn btn-danger">Hủy</button>
                    </div>                    
                </div>
                <div class="box-footer" style="height:50px;">

                </div> 
            </form>
        </div>
    </section>
</div>
<div [ngClass]="{'col-md-10 content-filter': isUsingFilter}">
    <section class="content">
        <div class="box" id="box-content">
            <div class="box-header with-border">
                <h3 class="box-title" id="titleName">Danh mục thiết bị bảo trì, bảo hành</h3>
                <!-- <button type="button" class="btn btn-box-tool btn-filter" data-toggle="tooltip" title="Lọc dữ liệu" (click)="toogleFilter()"> 
                    <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
                </button> -->

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove" style="display:none;">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" #contentFilter>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <div class="toolbox">                               
                                    <!-- (click)="openWindow(['/main','equipproduct','detail'])"  -->
                                <button type="button" class="btn btn-success" title="Thêm mới" [routerLink]="['/main','equipproduct','detail']" *ngIf="isSysAdmin=='true' || isPermisionExAll_isAddNew">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-primary" (click)="editExplorer(grid,['/main','equipproduct','detail'])" title="Mở/ Chỉnh sửa" *ngIf="isSysAdmin=='true' || isPermisionExAll_isEdit">
                                    <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn bg-purple" title="Xóa" (click)="confirmDialog(grid, 'Code')" *ngIf="isSysAdmin=='true' || isPermisionExAll_isDelete">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                                <!-- <button type="button" class="btn btn-warning" title="In" (click)="showPrintVoucher(grid)" *ngIf="isSysAdmin=='true' || isPermisionExAll_isPrint">
                                    <i class="fa fa-print" aria-hidden="true"></i>
                                </button> -->
                                <!-- <button type="button" class="btn" style="color: green;background-color:white;border:solid 1px green;" title="Kết xuất" (click)="export()">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                </button> -->                                
                                <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Lọc dữ liệu" (click)="toogleFilter()"> 
                                        <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-info" (click)="clearFilterExplorer()" title="Tải lại dữ liệu">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </button>                                
                                <button type="button" class="btn" title="Thu nhóm" (click)="grid.collapseGroupsToLevel(0)">
                                    <i class="fa fa-angle-double-up fa-md" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn" title="Mở nhóm" (click)="grid.collapseGroupsToLevel(grid.rows.maxGroupLevel + 1)">
                                    <i class="fa fa-angle-double-down fa-md" aria-hidden="true"></i>
                                </button>
                                <wj-menu [(value)]="lookup3" [header]="'Hiển thị'">
                                    <wj-menu-item *ngFor="let item of lookup3List" [value]="item.DocStatusKey">{{item.DocStatusName}}</wj-menu-item>
                                </wj-menu>
                            </div>
                        </ul>
                    </div>
                    
                </nav>
               
                <wj-flex-grid [itemsSource]="data" #grid (itemsSourceChanged)="itemsSourceChangedHandler()" style="height:100%;min-height: 650px;">
                    <!-- <template wjFlexGridCellTemplate [cellType]="'TopLeft'">
                         <input type="checkbox" value="">
                    </template>
                    <template wjFlexGridCellTemplate [cellType]="'RowHeader'" let-cell="cell">
                         <input type="checkbox" value="">
                    </template> -->
                    
                    <!-- <wj-flex-grid-column width="0.25*">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <div class="btn-edit" title="Sửa" (click)="edit(grid.selectedRows)">
                                <a [routerLink]="['/main','purchase','detail', grid.collectionView.currentItem?.Id]">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </template>
                    </wj-flex-grid-column> -->
                    <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                </wj-flex-grid>

                <!-- lưới hỗ trợ in detail -->
                <wj-flex-grid [itemsSource]="dataPrint" #gridPrint style="height:650px;display:none;">
                </wj-flex-grid>
                
            </div>
            <div class="box-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" (click)="movePage(1)">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                    <button type="button" class="btn btn-default" (click)="movePage(pageNumber-1)">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                    <button type="button" class="btn btn-default ng-binding">
                                    {{pageNumber}}/{{totalPage||1}}
                                </button>
                    <button type="button" class="btn btn-default" (click)="movePage(pageNumber+1)">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                    <button type="button" class="btn btn-default" (click)="movePage(totalPage)">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="clear:both;"></div>

<app-dialog [(visible)]="showDialog" #dialogFrm>
    <div class="headerConfirm">
        <b>Bạn có muốn xóa dữ liệu đã chọn!</b>
    </div>
    <div class="titleConfirm">
        <p>Số chứng từ:
            <b>{{titleConfirmDialog}}</b>
        </p>
    </div>
    <div class="btnConfirm">
        <button (click)="deleteExplorer(grid,true)" class="btn btn-success">Đồng ý</button>
        <button (click)="deleteExplorer(grid,false)" class="btn">Hủy bỏ</button>
    </div>
</app-dialog>

<!--Loading-->
<div *ngIf="showLoading" class="bravo-wait">
    <img src="/assets/img/gears.svg" style="width:50%">
    <div style="font-size: 15px; padding-left: 12px;color: #fff;">Loading ....</div>
</div>

<div *ngIf="showLoading" class="bravo-wrapper" style="height: 100%; width: 100%;"></div>
<!--/.Loading-->