<div class="tile" draggable="true" #tileBubbleChart>

    <!-- caption -->
    <div style="border-bottom:1px solid #e0e0e0; padding:4px; display:flex; cursor: move">
        <div style="flex-grow:1; color:#005c9c; font-weight:bold">
            Bubble Chart
        </div>
        <div class="buttons">
            <span class="glyphicon glyphicon-pencil" title="Edit Tile"></span>
            <span class="glyphicon glyphicon-remove" title="Close Tile"></span>
        </div>
    </div>

    <!-- content -->
    <div style="display:flex; align-items:center; justify-content:center; padding:4px">
        <div>
            <wj-flex-chart [chartType]="'Bubble'"
                           [itemsSource]="data"
                           [bindingX]="'date'">
                <wj-flex-chart-axis [wjProperty]="'axisX'"
                                    [format]="'MMM yy'">
                </wj-flex-chart-axis>
                <wj-flex-chart-series [name]="'Sales/Profit'"
                                      [binding]="'sales,profit'">
                </wj-flex-chart-series>
            </wj-flex-chart>
        </div>
    </div>
</div>