<div class="tile"  draggable="true" #tileRadialGauge>

    <!-- caption -->
    <div style="border-bottom:1px solid #e0e0e0; padding:4px; display:flex; cursor: move">
        <div style="flex-grow:1; color:#005c9c; font-weight:bold">
            Radial Gauge
        </div>
        <div class="buttons">
            <span class="glyphicon glyphicon-pencil" title="Edit Tile"  ></span>
            <span class="glyphicon glyphicon-remove" title="Close Tile" ></span>
        </div>
    </div>

    <!-- content -->
    <div style="display:flex; align-items:center; justify-content:center; padding:4px">
        <div>
            <wj-radial-gauge [value]=".77" [min]="0" [max]="1" [format]="'p0'"></wj-radial-gauge>
        </div>
    </div>
</div>