<div class="content-wrapper">
  <section class="content">
    <div class="box" id="box-content">
      <div class="box-header with-border">
          <label>
            Chọn loại biểu đồ:
            <wj-combo-box #tileCmb [itemsSource]="tileTypes"></wj-combo-box>
          </label>
          <button class="btn btn-primary" (click)="addTile(tileCmb.selectedItem)">Thêm</button>
      </div>

      <div class="box-body">

        <div class="dashboard" draggable="true" (click)="handleTile($event) " (dragstart)="dragstart($event)" (dragover)="dragover($event)"
          (drop)="drop($event)" (dragend)="dragend($event)">
          <div #dynCompContainer ></div>
        </div>
      </div>
    </div>
  </section>
</div>
